---
BasedOnStyle: Microsoft
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: 'Yes'
SpacesInAngles: true
BreakBeforeBraces: Allman
ColumnLimit: 120
IndentCaseLabels: true
Language: Cpp

...
